body {
  background-color: #849865;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.section {
  background-color: #849865;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
}

h1, h2 {
  color: #2c3e50;
}

.intro {
  text-align: center;
}

.tableau {
  width: 100%;
  height: 1650px;
  border: none;
  display: flex;
  justify-content: center;
}